#conatainer-1 {
  background: rgb(2, 0, 36);
  background: url(./Pixel\ Heart.png),
    radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 10%,
      rgba(9, 9, 117, 1) 44%,
      rgba(9, 9, 121, 1) 55%,
      rgba(8, 39, 141, 1) 72%,
      rgba(7, 62, 156, 1) 78%,
      rgba(6, 82, 169, 1) 86%,
      rgba(2, 160, 221, 1) 98%,
      rgba(0, 212, 255, 1) 100%
    );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 10%,
    rgba(9, 9, 117, 1) 49%,
    rgba(9, 9, 121, 1) 65%,
    rgba(6, 82, 169, 1) 90%,
    rgba(4, 128, 200, 1) 98%,
    rgba(0, 212, 255, 1) 100%
  ); */
}
#logo-row {
  height: 75px;
}
#logo {
  cursor: pointer;
  color: white;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 1.5px;
}
#row2 {
  height: 100vh;
  /* height: min-content;
  min-height: 100vh; */
}
#Welcome-Text h1 {
  margin-bottom: 10px;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
}
#Welcome-Text h2 {
  margin-top: 10px;
  margin-bottom: 25px;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 25px;
}
#Welcome-Text button {
  margin-top: 25px;
  padding: 5px 15px 5px 15px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  background-color: white;
  color: black;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

#Welcome-Text button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 100px;
}

#Welcome-Text button:active {
  color: white;
}

#Welcome-Text button:active:after {
  background: transparent;
}

#Welcome-Text button:hover:before {
  opacity: 1;
}

#Welcome-Text button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 100px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* #Welcome-Text button {
  margin-top: 25px;
  padding: 5px 15px 5px 15px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  background-color: white;
  color: black;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

#Welcome-Text button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#Welcome-Text button:active {
  color: #000;
}

#Welcome-Text button:active:after {
  background: transparent;
}

#Welcome-Text button:hover:before {
  opacity: 1;
}

#Welcome-Text button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
} */

#footer-row {
  height: 30px;
}
#footer-col-1 a {
  cursor: pointer;
  color: white;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11.5px;
  text-decoration: none;
}
#footer-col-2 a {
  cursor: pointer;
  color: white;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11.5px;
  text-decoration: none;
}
#footer-col-3 a {
  cursor: pointer;
  color: white;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11.5px;
  text-decoration: none;
}
